<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>zip</string>
        <string>7z</string>
        <string>rar</string>
        <string>tar</string>
        <string>gz</string>
        <string>gzip</string>
        <string>bz2</string>
        <string>bzip2</string>
        <string>xz</string>
        <string>tgz</string>
        <string>tbz</string>
        <string>tbz2</string>
        <string>txz</string>
        <string>lzh</string>
        <string>lha</string>
        <string>z</string>
        <string>zst</string>
        <string>zstd</string>
        <string>lzma</string>
        <string>lzma2</string>
        <string>lz4</string>
        <string>iso</string>
        <string>001</string>
        <string>z01</string>
        <string>z02</string>
        <string>z03</string>
        <string>z04</string>
        <string>z05</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>packo-document.icns</string>
      <key>CFBundleTypeName</key>
      <string>Packo 压缩包</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.archive</string>
        <string>com.apple.archive</string>
        <string>public.zip-archive</string>
        <string>com.pkware.zip-archive</string>
        <string>org.7-zip.7-zip-archive</string>
        <string>com.rarlab.rar-archive</string>
        <string>public.tar-archive</string>
        <string>org.gnu.gnu-tar-archive</string>
        <string>org.gnu.gnu-zip-archive</string>
        <string>org.gnu.gnu-zip-tar-archive</string>
        <string>public.bzip2-archive</string>
        <string>public.tar-bzip2-archive</string>
        <string>org.bzip.bzip2-archive</string>
        <string>org.bzip.bzip2-tar-archive</string>
        <string>org.tukaani.xz-archive</string>
        <string>org.tukaani.tar-xz-archive</string>
        <string>public.xz-archive</string>
        <string>public.tar-xz-archive</string>
        <string>public.z-archive</string>
        <string>com.facebook.zstandard-archive</string>
        <string>com.facebook.zstandard-tar-archive</string>
        <string>org.tukaani.lzma-archive</string>
        <string>public.lzma-archive</string>
        <string>public.lz4-archive</string>
        <string>public.lz4-tar-archive</string>
        <string>public.iso-image</string>
        <string>public.archive.lha</string>
        <string>com.bandisoft.001</string>
      </array>
    </dict>
  </array>
  <key>NSServices</key>
  <array>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>用 Packo 压缩</string>
      </dict>
      <key>NSMessage</key>
      <string>packoCompressSelection</string>
      <key>NSPortName</key>
      <string>Packo</string>
      <key>NSSendFileTypes</key>
      <array>
        <string>public.item</string>
      </array>
      <key>NSSendTypes</key>
      <array>
        <string>NSFilenamesPboardType</string>
        <string>public.file-url</string>
      </array>
    </dict>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>用 Packo 解压到当前目录</string>
      </dict>
      <key>NSMessage</key>
      <string>packoExtractHere</string>
      <key>NSPortName</key>
      <string>Packo</string>
      <key>NSSendFileTypes</key>
      <array>
        <string>public.item</string>
        <string>public.archive</string>
        <string>public.zip-archive</string>
        <string>org.7-zip.7-zip-archive</string>
        <string>com.rarlab.rar-archive</string>
      </array>
      <key>NSSendTypes</key>
      <array>
        <string>NSFilenamesPboardType</string>
        <string>public.file-url</string>
      </array>
    </dict>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>用 Packo 解压到同名文件夹</string>
      </dict>
      <key>NSMessage</key>
      <string>packoExtractToFolder</string>
      <key>NSPortName</key>
      <string>Packo</string>
      <key>NSSendFileTypes</key>
      <array>
        <string>public.item</string>
        <string>public.archive</string>
        <string>public.zip-archive</string>
        <string>org.7-zip.7-zip-archive</string>
        <string>com.rarlab.rar-archive</string>
      </array>
      <key>NSSendTypes</key>
      <array>
        <string>NSFilenamesPboardType</string>
        <string>public.file-url</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
